ul.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  position: -webkit-sticky; 
  position: sticky;
  top: 0;

}

li.list{
  float: left;
}

li.list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*li.menu a:hover {
  background-color: #FF6933;
}*/


li.list a:hover:not(.active) {
  background-color: #A17C6B;
}

.active {
  background-color: #FF6933;
}

  body {
    background-color: #6F7D8C;
  }
  
  h1 {
    color: #E8EBE4;
    margin: auto;
    text-align: center;
  }

  h2{
    color: #E8EBE4;
    text-align: center;
    
  }

  h3{
    color: #E8EBE4;
    text-align: center;
  }
  p{
    text-align: center;
    color: #E8EBE4;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 800px;
  }

  .icon {
    width: auto;
    height:200px;
  }

  .text {
    color:#E8EBE4
  }

  .about{
    color:#E8EBE4
  }

  .grey{
    color:#333
  }

  .comSec{
    padding-top: 50px;
    padding-bottom: 50px;
  }
/*alt image txt blk*/

.containerL{
  display:flex;
  align-items: center;
}

img{
  max-width: 100%;
}
 
/* Galarry Css */
#gallery {
  line-height:0;
  -webkit-column-count:5; /* split it into 5 columns */
  -webkit-column-gap:5px; /* give it a 5px gap between columns */
  -moz-column-count:5;
  -moz-column-gap:5px;
  column-count:5;
  column-gap:5px;
}

#gallery img {
  width: 100% !important;
  height: auto !important;
  margin-bottom:5px; /* to match column gap */
}

@media (max-width: 1200px) {
  #gallery {
   -moz-column-count:    4;
   -webkit-column-count: 4;
   column-count:         4;
  }
}

@media (max-width: 1000px) {
  #gallery {
   -moz-column-count:    3;
   -webkit-column-count: 3;
   column-count:         3;
  }
}

@media (max-width: 800px) {
  #gallery {
   -moz-column-count:    2;
   -webkit-column-count: 2;
   column-count:         2;
  }
}

@media (max-width: 400px) {
  #gallery {
   -moz-column-count:    1;
   -webkit-column-count: 1;
   column-count:         1;
  }
}
/*progams style*/

h3{
  text-align: center;
  color:#ccc
}

/*About coloms css*/

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding-left: 5%;
  padding-right: 5%;
}

/*About img css*/

.aboutImg {
  border-radius: 25px;
  border: 5px solid #333;
  
}

.aboutTxt{
  text-align: center;

  font-size: 40px;
  padding-top: 75px;
  padding-bottom: 75px;
}

.abtCenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Fursuit page Css*/

.FSbody{
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Colapcable Css*/

 /* Style the button that is used to open and close the collapsible content */
 .collapsible {
  background-color: #333;
  color: #ccc;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
button.active, button.collapsible:hover {
  background-color: #666464;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #6F7D8C;
} 