ul.list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

  position: -webkit-sticky; 
  position: sticky;
  top: 0;

}

li.list{
  float: left;
}

li.list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*li.menu a:hover {
  background-color: #FF6933;
}*/


li.list a:hover:not(.active) {
  background-color: #A17C6B;
}

.active {
  background-color: #FF6933;
}

  body {
    background-color: #6F7D8C;
  }
  
  h1 {
    color: #E8EBE4;
    margin: auto;
    text-align: center;
  }

  h2{
    color: #E8EBE4;
    text-align: center;
    
  }

  p{
    text-align: center;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 800px;
  }


/* Galarry Css */
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/*progams style*/

h3{
  text-align: center;
  color:#ccc
}